@font-face {
    font-family: 'Achron';
    src: url('Achron.otf');
}

@font-face {
    font-family: 'FairfaxItalic';
    src: url('FairfaxItalic.ttf');
}

@font-face {
    font-family: 'SPACE EXPLORER';
    src: url('SPACE EXPLORER.otf');
}

@font-face {
    font-family: 'Kwark';
    src: url('Kwark.ttf');
}

@font-face {
    font-family: '3270-Regular';
    src: url('3270-Regular.ttf');
}

body {
    background-color: #000;
    color: #0f0;
    font-family: 'Achron', 'Courier New', Courier, monospace;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
}

body.website-page {
    background-image: url('websiteBACKGROUNDIMAGE.jpg');
}

body.newsletter-page {
    background-image: url('newsletterBACKGROUNDIMAGE.jpg');
    background-repeat: repeat;
    background-size: auto;
}

body.contact-page {
    background-image: url('contactBACKGROUNDGIF.gif');
    background-repeat: repeat;
    background-size: auto;
}

body.lore-page {
    background-image: url('loreBACKGROUNDIMAGE.jpg');
    background-repeat: repeat;
    background-size: auto;
}

body.releases-page {
    background-image: url('releasesBACKGROUNDGIF.gif');
    background-repeat: repeat;
    background-size: auto;
}

body.shows-page {
    background-image: url('showsBACKGROUNDGIF.gif');
    background-repeat: repeat;
    background-size: auto;
}
img.semi-transparent {
    opacity: 0.5;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.email-gif {
    background-image: url('emailanimation.gif');
    background-repeat: repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, transparent 99%, green 99%),
                linear-gradient(90deg, transparent 99%, green 99%);
    background-size: 100px 100px;
    z-index: 0;
}

header, nav, section, footer, .image-container, .lore-images {
    position: relative;
    z-index: 1;
}

.lore-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lore-images img {
    max-width: 45%;
    margin: 2.5%;
}

header {
    background-color: #333;
    color: #f00;
    padding: 10px;
    border: 2px solid #f00;
}

nav {
    background-color: #333;
    color: #0f0;
    padding: 10px;
    border: 2px solid #f00;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    margin-right: 15px;
}

header, nav, section, footer {
    background: linear-gradient(45deg, rgba(0,255,0,0.1) 25%, transparent 25%, transparent 75%, rgba(0,255,0,0.1) 75%, rgba(0,255,0,0.1)),
                linear-gradient(45deg, rgba(0,255,0,0.1) 25%, transparent 25%, transparent 75%, rgba(0,255,0,0.1) 75%, rgba(0,255,0,0.1));
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    color: #0f0;
    padding: 10px;
    border: 2px solid #f00;
}

footer {
    background-color: #333;
    color: #0f0;
    padding: 10px;
    border: 2px solid #f00;
}


img {
    display: block;
    margin-right: auto;
    z-index: 9999;
    position: relative;
}
.website-image {
    z-index: 9999;
}
